 <!-- begin site-nav -->
		<div class="nav-container">
          <ul class="navigation" id="AccessibleNav">
             <li  class="navigation-li"><a href="pages/about" class="navigation-li-link">About</a></li>
            <li class="navigation-li dropdown"><a href="#" class="navigation-li-link">Products</a>
              <ul class="dropdown-menu">
                  <!--<li class="dropdown-menu-item"><a href="/collections/sweatshirts">Sweatshirts</a></li>-->
                  <li class="dropdown-menu-item"><a href="/collections/hats">Hats</a></li>
                  <li class="dropdown-menu-item"><a href="/collections/bags">Bags</a></li>
                   <li class="dropdown-menu-item"><a href="/collections/t-shirts">T&#8209;shirts</a></li>
              </ul>
            </li>
            <li  class="navigation-li"><a href="" class="navigation-li-link">Lookbook</a></li>
            <li  class="navigation-li"><a href="" class="navigation-li-link">News</a></li>
              <li  class="navigation-li"><a href="https://www.instagram.com/the8mm/" class="navigation-li-link">Follow Us</a></li>
          </ul>
</div>

<!--
<div class="instagram">
  <a href="" class="instagram-link">
  	<img class="instagram-img" src="instagram.png" alt="instagram-logo">
  </a>
</div>
-->