<!-- /templates/page.liquid -->
{% include 'navbar' %}



  <div class="grid__item">
	
     <div class="about">
      <p class="about-description">8mm is an independent brand based in NYC.
      We are focused on the narrative, the traditions, and are inspired
      by Korean heritage. Established in 2014, 8MM's hope is to garner access to k-culture
      and expand the circle and vision.</p>
    </div>
    
</div>
   







 <!--<div class="about">
      <p class="about-description">8mm is an independent brand based in NYC.
      We are focused on the narrative,<br> the traditions, and are inspired
      by Korean heritage. Established in 2014,<br> 8MM's hope is to garner access to k-culture
      and expand the circle and vision</p>
    </div>-->